.navbar {
    background: transparent;
    box-shadow: 0 0 0;
    position: sticky;
    top: 0;
    float: left;
}

.brand-logo {
    padding-left: 10px !important;
    font-size: 1.7em !important;
}

.brand-logo i {
    margin-left: 10px;
    float: right !important;
}

.relative {
    position: relative;
}

.clearfix {
    clear: both;
}