.navbar {
    background: transparent;
    box-shadow: 0 0 0;
}

.brand-logo {
    padding-left: 10px !important;
    font-size: 1.7em !important;
}

.brand-logo i {
    margin-left: 10px;
    float: right !important;
    /* font-weight: 500; */
}